<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p>
        <a href="/buckets/new" class="btn btn-success btn-lock">New Bucket</a>
      <p>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Total objects</th>
      <th scope="col">Bucket created</th>
      <th scope="col">Access</th>
      <th scope="col">Region</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <% @buckets.each.with_index do |bucket, index| %>
      <tr>
        <th scope="row"><%= index.next %></th>
        <td><a href="/buckets/<%= bucket.name %>" class="text-dark"><%= bucket.name %></td>
        <td><%= bucket.total_objects %></td>
        <td><%= bucket.creation_date %></td>
        <td><%= bucket.access %></td>
        <td><%= bucket.region %></td>
        <td>
          <form method="POST" role="form">
            <input name="_method" type="hidden" value="delete" />
            <input name="bucket[name]" type="hidden" value=<%= bucket.name %> />
            <input name="bucket[region]" type="hidden" value=<%= bucket.region %> />

            <button type="submit" class="btn btn-danger">&times;</button>
          </form>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
